body {
    font-family: "Open Sans";
    padding: 0;
    margin: 0;
}

.header{
    position: fixed;
    width: 100%;
    height: 98px;
    top: 0;
    left: 0;
    background-color: #222f3d;
    z-index: 1;
    border-bottom: 1px solid #1c4f73;

}
#logo {
    float:left;
    margin-top: 19px;
    display: inline-block;
}

.navigation{
    margin-top: -20px;
    float: right;


}

.menu {
    display: inline-block;

}

.item {
    display: inline-block;
    margin-top: 3px;
    line-height: 100%;
    font-weight: 500;




}

.item a {
    position: relative;
    display: block;
    padding: 40px 15px;
    color: #ecf0f1;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;

}

.item a:hover {
    color: #3498db;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #3498db;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 970px;
}

@media (min-width: 768px) {
    .container {
        width: 750px; } }
@media (min-width: 992px) {
    .container {
        width: 970px; } }
@media (min-width: 1200px) {
    .container {
        width: 1170px; } }


.bigimage {
     position: relative;
     background-image: url(../images/slika.jpg);
     background-size: cover;
     height: 550px;
     width: 100%;
     top:98px;


 }

.dots {
    position: relative;


}
.dot {

    width: 3%;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.54);
    height: 8px;
    margin-top: 520px;
    margin-right: 20px;

    cursor: pointer;
}

.dot:hover {
    background-color: rgb(255, 255, 255);
}

.dot1{
    width: 3%;
    display: inline-block;

    height: 8px;
    margin-top: 520px;
    margin-right: 20px;

    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

#dot1 {
    margin-left: 43%;
}

.section1 {
    position: relative;
    background-color: #1d2834;
    height: 400px;
    width: 100%;
    top:98px;
}

.sub {
    display: inline-block;
    margin-top: 60px;
    height: 290px;

    width: 32%;

}

#second {

    border-left: 1px solid #717374;
    border-right: 1px solid #717374;

}


.smallimage{
    width: 35%;
    margin-left: 32.5%;
    margin-bottom: -20px;
    border: 2px solid #ecf0f1;
    border-radius: 2%;

}

.title1 {
    display: block;
    text-align: center;
    padding-top: 10px;
    color: #ecf0f1;
    margin-bottom: -15px;
}

.text1 {
    display: block;
    text-align: center;
    padding-top: 10px;
    color: #ecf0f1;
    text-align: center;
    margin-left: 5%;
    width: 90%;

}

.readmore {
    display: block;
    width: 40%;
    margin-left: 30%;
    height: 30px;
    background-color: transparent;
    border: 2px solid #ecf0f1;
    border-radius: 5%;
    color: #ecf0f1;

}

.section1 .readmore {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.readmore:hover {
    border-color: #3498db;
    color: #3498db;
    cursor: pointer;
}
.section2 {
    position: relative;
    height: 700px;
    width: 100%;
    top:98px;
    padding: 0;


}

.sub2  {

    position: relative;
    width: 50%;
    height: 50%;
    float: left;


}

.sub21  {

    position: absolute;
    width: 50%;
    height: 50%;
    float: left;




}

#medium1text {
    top:0;
    left:0;
    visibility: hidden;
    background-color: rgba(4, 10, 14, 0.5);
    cursor: pointer;




}

#medium2text {
    top:0;
    left: 50%;
    visibility: hidden;
    background-color: rgba(4, 10, 14, 0.5);
    cursor: pointer;

}

#medium3text {
    top:50%;
    left:0;
    visibility: hidden;
    background-color: rgba(4, 10, 14, 0.5);
    cursor: pointer;
}

#medium4text {
    top:50%;
    left: 50%;
    visibility: hidden;
    background-color: rgba(4, 10, 14, 0.5);
    cursor: pointer;

}



#medium1 {

    background-image: url(../images/medium2.jpg);
    background-size: cover;


}

#medium2 {
    background-image: url(../images/medium3.jpg);
    background-size: cover;
}

#medium3 {
    background-image: url(../images/medium4.jpg);
    background-size: cover;
}

#medium4 {
    background-image: url(../images/medium1.jpg);
    background-size: cover;
}





#medium1:hover + #medium1text {
    visibility: visible;

}

#medium1text:hover {
    visibility: visible;

}

#medium2:hover + #medium2text {
    visibility: visible;
}

#medium2text:hover {
    visibility: visible;
}
#medium3:hover + #medium3text {
    visibility: visible;
}

#medium3text:hover {
    visibility: visible;
}
#medium4:hover + #medium4text {
    visibility: visible;
}

#medium4text:hover {
    visibility: visible;
}

.sub21 h1 {
    font-size: 54px;
    color: #ecf0f1;
    text-align: center;


}

.sub21 h2 {
    font-size: 22px;
    width: 50%;
    color: #ecf0f1;
    text-align: center;
    margin-left: 25%;

}

.bigtitle {
    position: relative;
    background-color: #1d2834;
    font-size: 40px;
    color: white;
    height: 150px;
    width: 100%;
    top:98px;
    padding-top: 0px;

    text-align: center;

}

.bigtitle h4 {
    margin-top: 10px;

    color: #ecf0f1;
}

.bigtitle h5 {
    margin-top: -40px;
    font-size: 14px;
}

.section3 {
    position: relative;
    background-color: #1d2834;
    height: 310px;
    width: 100%;
    top:48px;
    padding: 0;

}

.line  {
    padding-top:15px;
    width: 5%;
    margin-left: 47.5%;
    height: 10px;
    border-bottom: 7px double #ecf0f1;
}

.sub3  {
    padding-top: 50px;
    width: 50%;
    height: 50%;
    float: left;
    text-align: center;
    color: #ecf0f1;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;

}

.sub3:hover {
    cursor: pointer;
   background-color: #2c3e50;

    border-bottom: 1px solid #3498db;
    color: #318dcb;

}

.sub3 i {
    text-align: center;
    width: 100%;
    font-size: 64px;
}

.sub3 h5 {
    width: 60%;
    margin-left: 20%;
}

.footer {
    position: relative;
    background-color: #2c3e50;
    height: 250px;
    width: 100%;
    top:45px;
    padding: 0;
    border-top: 2px solid #17385a;

}
.social {
    position: relative;
    width: 63%;

    margin-left: 37%;
    margin-top: 20px;
}
.icons {

    width: 30px;
    padding-right: 20px;
    cursor: pointer;
}

.subfooter {
    display: inline-block;
    width: 27.8%;
    text-align: justify;
    color: #ecf0f1;
    padding-right: 25px;
    padding-left: 25px;
}

.sign {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    color: #ecf0f1;
    font-size: 12px;
    font-weight: bold;
}

.backtotop {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
    display: none;
    background: url(../images/arrow.png) no-repeat;
    border-radius: 10px;
    text-indent: -9999px;
}

#forma {
    display: block;
    height: 600px;
    width: 400px;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    color: #ecf0f1;
}

#prijava {
	text-align: center;
    color: #ecf0f1;
}


#loginf {

    position: absolute;
    display: block;
    padding-top: 10%;
    width: 100%;
    height: 100%;

    background: rgba(7, 17, 27, 0.85);



}

#username, #password, #ime {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    padding: 8px 8px 8px 8px;
    color: black;
    background-color: rgba(236, 240, 241, 0.72);
    border: none;
    border-radius: 2px;
    font-size: 12pt;
    font-weight: bold;

}

#slika {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/login.jpg);

}

#prijava12 {
    width: 100%;
    margin-left: 0px;
}

#neispravni {
    display: none;
    color: red;
    font-size: 10pt;
    text-align: right;
    margin-top: -5px;

}